{% extends "users/base.html" %}
{% block head_content %}
<title>Copigram Login</title>
{% endblock %}

{% block container %}
    <form method="post" action={% url "users:login"%}>
        {% csrf_token %}
        <div class="form-group p-2">
            <input type="text" placeholder="Username" name="username" class="form-control form-control-lg" style="border-radius:1.5rem; background-color: rgba(52,199,182,.2);"/>
        </div>
        <div class="input-group p-2">
            <input type="password" placeholder="Password" name="password" class="form-control form-control-lg" style="border-radius:1.5rem; background-color: rgba(52,199,182,.2);"/>
        </div>
        <button type="submit" class="btn btn-primary w-100 my-2 btn-lg" style="border-radius:1.5rem">Sig in</button>
        <a class="btn btn-info btn-block" href="{% url 'social:begin' 'facebook' %}">
            <span class="fab fa-facebook"></span>
            Login with facebook
        </a>
    </form>
    <p class="mt-4">Don't have an account yet? <a href={% url 'users:signup'%}>Sign up</a></p>
    {% if form.errors %}
        <p class="alert alert-danger">
            Your username and password are incorrect
        </p>
    {%endif%}
{% endblock %}